.App {
  text-align: center;
}

.Tweet-card {
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 25%;
  margin-right: 25%;
  border-width: 1px;
  background-color: white;
  border-color: lightgray;
  border-style: solid;
  padding: 2em;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.SearchBox {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-left: 25%;
  margin-right: 25%;
  align-items: center;
}

.SearchBox-Input {
  /* display: flex; */
  flex: 2;
  border-radius: 20px;
  height: 3em;
  padding: 0;
  border-color: lightgray;
  outline: none;
  border-width: 1px;
  padding-left: 20px;
}

.SearchBox-Button {
  flex: 1;
  border-radius: 20px;
  outline: none;
  border-style: none;
  height: 3em;
  color: white;
  border-color: lightgray;
  border-width: 1px;
  background-color: rgb(29, 155, 240);
  margin-left: 5px;
}

.SearchBox-Button:disabled {
  background-color: rgb(135, 205, 252);
}

.Error-msg {
  margin-top: 1em;
  margin-left: 25%;
  margin-right: 25%;
  color: white;
  padding: 0.5em;
}